


.inner
{
    display: inline-block;
    
}
    
.msgBtn{
    border-radius: 10px;
    background-color: white;

}
#outer
{
    width:100%;
    text-align: center;
}


h2{
  font-size: 22px;    
  }
  .section{
      width: 90%;
    max-width: 1000px;
    min-width: 700px;
    display: flex;
  
  }
  .lists {
  
   background-color: #F2F2F2;
      display: flex;
      justify-content: space-around;
      font-size: 15px;
  }
  
  body {
      font-family: 'Raleway';
      font-size: 22px;
  }
  
  .hebergement{
      background-color: #F2F2F2;
      border: 2px ;
    
      padding: .5em;
      width: 65%;
      
      border-radius: 5%;
      margin-top: 10px;
  }
  
  .populaire {
      background-color: #F2F2F2;
      border: 2px ;
      padding: .5em;
     
      width: 30%;
      height: 50%;
      border-radius: 5%;
      margin-top: 10px;
  }
  
  .activités {
    

    
    border: 2px ;
      
      
      
      
    border-radius: 5%;
    margin-top: 10px;
  }
  
  .corps{
      display: flex;  
    flex-direction: row; 
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    padding: 15px;
    margin: 10px;
    
   
  }

  
  .listings_item{
    
   
    display: flex;
    width: 100%;
    height:90%;
    max-height: fit-content;
    max-height: 180px;
  }
  .listings_image{
    
    border-radius: 10%;
    overflow: hidden;
    
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
  
  .greyText{
     font-size: 22px;
     line-height:18px;
  }
  
 
  .listings_content{
    display:flex;
    justify-content: space-around;
    width: auto;
    height: auto;
    flex-direction: column;
    padding: 1em;
    border-radius: 10%;
  }
  
  .mosaique{
  
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;

    
      border: 2px ;
      padding: .5em;
      
      
      
      border-radius: 5%;
      margin-top: 10px;
  }
  
  .mosaique2{

    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;


  }
  
  
  
  
  
  .item{
    border: 1px solid black;
    min-width: 100px;
    min-height: 50px;
  }
  
  

  .main_content_pop {
    width: 90%;
    height: 200px;
    border-radius: 10%;
    display: flex;
    
    margin: 10px 10px 10px 10px;
    box-shadow: 10px 5px 5px grey;
  }

  .main_content_hebergement{
    
    
    border-radius: 10%;
    width:90%;
    display: flex;
    flex-direction: column;
    background-color: white;
    margin: 10px 10px 10px 10px;
    box-shadow: 10px 5px 5px grey;
  }

  .main_content_hebergement1{
    
   
    border-radius: 10%;
    width: 90%;
    display: flex;
    flex-direction: column;
    background-color: white;
    margin: 5px;
    box-shadow: 10px 5px 5px grey;

    grid-column-start: 1; 
   grid-column-end: 1; 
   grid-row-start: 1; 
   grid-row-end: 3; 
  }
  .listings_item1{
    
   
    display: flex;
    width: 100%;
    height:90%;
    max-height: fit-content;
    font-size:22px;
    border-radius: 10%;
  }

  .main_content_hebergement2{
    
   
    border-radius: 10%;
    width: 90%;
    display: flex;
    flex-direction: column;
    background-color: white;
    margin: 5px;
    box-shadow: 10px 5px 5px;

    grid-column-start: 3; 
   grid-column-end: 3; 
   grid-row-start: 1; 
   grid-row-end: 3; 
  }

  .listings_item2{
    
   
    display: flex;
    width: 100%;
    height:90%;
    max-height: fit-content;
    font-size:22px;
    border-radius: 10%;
  }

  
i.fa {
  display: inline-block;
  border-radius: 60px;
  box-shadow: 0px 0px 2px #888;
  padding: 0.5em 0.6em;

}