

header{
  padding: 1em;
}

h1{
  font-size:35px;
}

body {
    font-family: 'Raleway';
    font-size: 16px;
    margin: 0;    
}

.logo{
  margin-right:auto;
  
}

.logo a:hover{
  border-top: none;
}

.nav{
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.nav ul{
	list-style: none;
}

.nav a{   
	padding: 12px;
	text-decoration: none;
  color: #444D56;
  transition: all 0.4s ease-out;
}

nav a:hover{
  color: #0065fc;
  transition: all 0.4s ease-out;
  border-top: 3px #0065fc solid;
 }

.inscription p{
	color: #0065fc;
}

.inscription a{
  padding:0;
}

.inscription:hover{
  color: #0065fc;
  transition: all 0.4s ease-out;
  border-top: 3px #0065fc solid;
 }

.menu{
	display: flex;
}

.inner{
  margin-top:20px;
  margin-bottom:20px;
}
.inner_titre{
  display: inline-block;
}

.inner_titre p{
  font-weight: bold;
}

.inner_text{
  
  border-radius: 999px;
  display: inline-block;
  padding-right:1rem ;
  box-shadow:  0.1em 0 0.1em 0.1em  rgba(189, 195, 199, 1);
  transition: all 1s ease-out;
  font-weight: bold;
}

.inner_text:hover{
	color: #1a1c1d;
  background-color: #158ad8;
  transition-duration: 1s;
}

.inner .inner_text .fas {
  font-size: 1rem;
  padding: 1rem;
  clip-path: circle();
  background-color: rgba(0, 101, 252, 0.3);
  color: rgba(0, 101, 252 );
  
}
    
.search .location .fa-map-marker-alt{
  padding: 25px;
  background-color: #e5e5e5;
  color:black;
}

.search{
  border: 1px solid #c4c4c4;
  box-shadow: 0.1em 0.1em 0.1em rgba(189, 195, 199, 1);
  overflow: hidden;
  display: inline-flex;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 1rem;
}
.search input{
  border: none;
  font-size: 18px;
}

input.text{
  font-weight: bold;
  color:black;
}

.button-web button  {
  padding: 22px;
  border: none;
  object-fit: contain;
  background-color: rgba(0, 101, 252 );
  color: #ffffff;
  font-size: 18px;
  cursor: pointer;
}

.button-web button a {
  text-decoration: none;
  color: white;
  
}



.button_mobile{
  display: none;
}

.info{
  display: flex;
  align-items: center;
}

.list {
  align-content: flex-start;
  padding: 0.5em;
}

.list ul{
  padding-left: 0;
}
 
.list li{
  margin:5% 0;
  list-style: none;
}

i.fas.fa-info-circle{
  color: rgba(0, 101, 252 );
  margin-right:10px;
}
footer{
  background-color: #F2F2F2;
}

.list ul li a{
  text-decoration: none;
  color: #444D56;
}

.footer-row{
  display: flex;
  justify-content: space-around;
}

i.fas.fa-star{
  color: rgba(0, 101, 252 );
}

i.fas.fa-star.icon.-a{
  color: #837f7f85;
}

#hebergement{
  background-color: #F2F2F2;
  padding: .5em;
  width: 65%;
  border-radius: 1rem;
  margin: 10px;
}

#hebergement h2{
  margin-left: 20px;
}

.afficher{
  font-weight: bold;
  margin-left: 20px;
  font-size: 20px;
}

.populaire {
  background-color: #F2F2F2;
  padding: .5em;
  width: 33%;
  border-radius: 1rem;
  margin: 10px;
}
  
.activités {
  padding: .5em;
}

.activités h2{
  margin-left:15px;
}

#activites{
  margin: 10px;
}

.corps{
  display: flex;  
}

.listings_item{
  border-radius: 1rem 1rem 0% 0%;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 200px;
  max-height:150px;
}

.listings_item_pop{
  position:relative;
  overflow: hidden;
  width: 100%;
  border-radius: 1rem 0% 0% 1rem; 
  min-height:150px;
  }

.listings_image{
  object-fit: cover;
  height: 100%;
  width: 100%;
  position: absolute;
}
  
.listings_image_pop{
  position: absolute;
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.listings_image_heb{
  object-fit: cover;
  height: 100%;
  width: 100%;
  max-width: 100%;
  position: absolute;
}
  
.greyText{
  font-weight: bold;
  line-height:18px;
}

.listings_content{
  display:flex;
  flex-direction: column;
  padding: 0.5em;
  border-radius: 1rem;
}

.listings_content_act p{
font-weight: bold;
padding: 0.5em;
}

.listings_content_pop{
  display:flex;
  justify-content: space-evenly;
  width: 100%;
  height: auto;
  flex-direction: column;
  padding: 0.5em;
  border-radius: 1rem;
}

.listings_content_pop p{
  margin:0;
}

  
.mosaique{
  display:grid;
  grid-template-columns: repeat(3, 1fr);
}
  
.mosaique2{
  display: grid;
  padding-left: 1rem;
  padding-right: 1rem;
}

.mosaique3{
  display:grid;
  grid-template-columns: repeat(4, 1fr);
}
  
.tendance{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 1rem;
  margin-right: 1rem;
}

i.fas.fa-chart-line{
font-size:2rem;
}

.main_content_pop {
  width: 100%;
  border-radius: 1rem;
  display: flex;
  background-color: white;
  margin: 1em auto 1em;
  box-shadow: 5px 5px 5px rgba(189, 195, 199, 1);
}

.main_content_hebergement{
  border-radius: 1rem;
  background-color: white;
  margin: 10px ;
  box-shadow: 5px 5px 5px rgba(189, 195, 199, 1);
}

.main_content_hebergement1{
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  background-color: white;
  margin: 10px;
  box-shadow: 5px 5px 5px rgba(189, 195, 199, 1);
  grid-column-start: 1; 
  grid-column-end: 1; 
  grid-row-start: 1; 
  grid-row-end: 3; 
}

.listings_item1{
  overflow: hidden;
  display: flex;
  width: 100%;
  height:90%;
  font-size:22px;
  border-radius: 1rem 1rem 0% 0%;
  position:relative;
}

.main_content_hebergement2{
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  background-color: white;
  margin: 10px;
  box-shadow: 5px 5px 5px rgba(189, 195, 199, 1);
  grid-column-start: 3; 
  grid-column-end: 3; 
  grid-row-start: 1; 
  grid-row-end: 3; 
}

.listings_item2{
  overflow: hidden;
  display: flex;
  width: 100%;
  height:100%;
  position: relative;
  font-size:22px;
  border-radius: 1rem 1rem 0% 0%;
}

  /* responsive*/

@media screen and (max-width: 800px)   {

.body{
  padding: 0;
  margin: 0;
  border:0;
}

header{
  margin:0;
  padding: 0;
}

.nav{
  display: grid;
  grid-template-columns: repeat(2, 1fr)
}

.nav a{   
  padding: 0%;
  text-decoration: none;
  color: #444D56;
  padding-bottom: 0.5em;
  font-weight: bold;
}

.menu{
  width: 100%;
  justify-content: space-around;
  grid-column: 1/3;
  grid-row: 2;
  margin:0;
  padding: 0%;
}

.hebli a:hover{
  color:#0065fc;
  border-top: none;
}

.hebli:hover{
  color:#0065fc;
  transition-duration: 0.2s;
  border-bottom: 2px #0065fc solid;
  border-top: none;
  margin-bottom: 0;
  color:#0065fc;
  border-top:0;
}

.actli:hover{
  color: #0065fc;
  transition-duration: 0.2s;
  border-bottom: 2px #0065fc solid;
  border-top: none;
  margin-bottom: 0;
}

.actli a:hover{
  color:#0065fc;
  border-top: none;
}

.hebli{
  width: 50%;
  border-bottom: solid;
  border-bottom-color: rgb(226, 219, 219);
  padding-bottom: 0.5em;
  justify-content: center;
  display: flex;
}

.actli{
  width: 50%;
  border-bottom: solid;
  border-bottom-color: rgb(226, 219, 219);
  padding-bottom: 0.5em;
  justify-content: center;
  display: flex;
}

.menu {
  padding: 0%;
}

.actli{
  width: 50%;
}

.inscription{
  grid-column-start:2;
  grid-column-end:3;
  grid-row-start:1;
  grid-row-end:1;
  display: flex;
  justify-content: flex-end;
  font-weight: bold;
  padding-right: 1em;
  
}

.inscription a:hover{
  color: #0065fc;
  transition: all 0.4s ease-out;
  border-top: 3px #0065fc solid;
 }

 .inscription:hover{
  border-top:none;
 }

.logo{
  padding-left: 1em;
}

.logo a:hover{
  border-top: none;
}

.slogan{
  padding-right:0.5em;
  padding-left:0.5em;
}
.search{
  width: 100%;
  box-shadow: 0.1em 0.1em 0.1em  rgba(189, 195, 199, 1);
  justify-content: space-between;
  overflow: hidden;
  
}


.button_mobile{
  padding:20px;
  display:inline;
  background-color: rgba(0, 101, 252 );
  cursor: pointer;
}

.button_mobile .fas{
  color:white;
}

.button-web button {
  display: none;
}

.inner{
  display: flex;
  flex-flow : column wrap;
}
    
.inner_text{
  margin: 5px;
  border-radius: 999px;
  max-width: max-content;
  box-shadow:  0.1em 0 0.1em 0.1em  rgba(189, 195, 199, 1);
}

.inner_titre{
  padding-right:0.5em;
  padding-left:0.5em;
}

.info{
  padding-right:0.5em;
  padding-left:0.5em;
}
    
.mosaique {
  display: flex;
  flex-flow : row wrap;
  width: auto;
}

.mosaique2 {
  display: flex;
  flex-flow : row wrap;
  padding: 0;
}
    
.corps {
  width: auto;
  display: flex;
  flex-direction: column-reverse;
}
    
#hebergement{
  border-radius:0;
  width: auto;
  margin: 0%;
  background-color:white;
}

#activites{
  display: flex;
  flex-flow : row wrap;
}

.mosaique3{
  display: flex;
  flex-flow : row wrap;
}

.tendance {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.populaire{
  width:auto;
  margin: 0;
  border-radius: 0%;
  padding: 1em;
}

.listings_image{
  border-radius: 1rem 1rem 0% 0%;
}
    
.listings_image_heb{
  object-fit: cover;
  height: 100%;
  width: 100%;
  max-width: 100%;
  position: absolute;
  border-radius: 1rem 1rem 0% 0%;
}
    
.listings_item1{
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 200px;
  border-radius: 1rem 1rem 0% 0%;
}

.listings_item2{
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 200px;
  border-radius: 1rem 1rem 0% 0%;
}

.main_content_hebergement{
  border-radius: 1rem;
  background-color: white;
  box-shadow: 5px 5px 5px rgba(189, 195, 199, 1);
  width: 100%;
}

.main_content_hebergement1{
  border-radius: 1rem;
  background-color: white;
  box-shadow: 5px 5px 5px rgba(189, 195, 199, 1);
  width: 100%;
}

.main_content_hebergement2{
  border-radius: 1rem;
  background-color: white;
  box-shadow: 5px 5px 5px rgba(189, 195, 199, 1);
  width: 100%;
}
  
.main_content_pop {
  border-radius: 1rem;
  display: flex;
  background-color: white;
  width: 100%;
  box-shadow: 5px 5px 5px rgba(189, 195, 199, 1);
}

.listings_content_pop{
  display:flex;
  justify-content: space-evenly;
  width: 100%;
  flex-direction: column;
  padding: 0.5em;
}

.listings_content_pop p{
  margin:0;
}

.listings_item_pop{
  position: relative;
  overflow: hidden;
  width: 100%;
  height:200px;
  border-radius: 1rem 0% 0% 1rem;
}

.listings_image_pop{
  border-radius: 1rem 0% 0% 1rem;
  object-fit: cover;
  height: 100%;
  width: 100%;
  max-width: 100%;
  position: absolute;
}

.main_content {
  border-radius: 1rem;
  display: flex;
  background-color: white;
  width: 100%;
  box-shadow: 5px 5px 5px rgba(189, 195, 199, 1);
}

.listings_content{
  display:flex;
  justify-content: space-around;
  width: 100%;
  height: auto;
  flex-direction: column;
  padding: 0.5em;
  border-radius: 1rem 1rem 0% 0%;
}

.listings_item{
  position: relative;
  overflow: hidden;
  width: 100%;
  height:200px;
  border-radius: 1rem 1rem 0% 0%;
}

.listings_image{
  border-radius: 1rem 1rem 0% 0%;
  object-fit: cover;
  height: 100%;
  width: 100%;
  max-width: 100%;
}

.lists{
  background-color: #F2F2F2;
  display: flex;
  flex-direction: column;
  padding: 0.5em;
}

.footer-row{
  flex-flow: column wrap;
}

.list{
  margin-left: 1em;
}
     
input::placeholder {
  color:black;
  font-weight: bold;
}



.text{
  box-sizing: border-box;
  width: 60%;
}
}

