.flex-container {
    /* We first create a flex layout context */
    display: flex;
    
  
    flex-flow: row wrap;
  
    justify-content: space-evenly;
    
    padding: 0;
    margin: 0;
    list-style: none;
  }
  
  .flex-item {
    background: greenyellow;
    padding: 5px;
    width: 200px;
    height: 150px;
    margin-top: 10px;
    line-height: 150px;
    color: white;
    font-weight: bold;
    font-size: 3em;
    text-align: center;
  }

  .listings{
    border-top: 1px solid white;
    padding: 24px 0;
    display: flex;

  }
  .listings_item{
    border-top: 1px solid white;
    padding: 24px 0;
    display: flex;

  }
  .listings_image{
    width: 300px;
    height: 200px;
    border-radius: 10px;
    overflow: hidden;

  }
  img{
    object-fit: cover;
    height: 100%;
    width: 100%;
}
.greyText{
     font-size: 14px;
     line-height:18px;
 }

  
  listings_title{
    display: flex;
    justify-content: center;
    font-size: small;
    align-content: space-between;

  }

  listings_text{
    display: flex;
    justify-content: center;
    font-size: small;
    align-content: space-between;

  }
  .main_content{
    width: 840px;
    background-color: red;
  }